header{
    margin-bottom: 5em;
}

#select_btns{
    margin-bottom: 1em;
    text-align: center;
}

#heatmap{
    text-align: center;
}

#chart{
    margin-bottom: 1em;
    max-width: 100%;
    width: 100%
}

#reports{
    margin-bottom: 1em;
}

.map-canvas{
    display: none;
}

.min{
    float:left;
}

.max{
    float:right;
}

.heatmapLegend {
    width:15em; background:white; position:absolute; bottom:0; right:0; padding:0.5em;}

.canvas{
    width:100%;
}

/*.navbar-default{*/
    /*background-color: darkred;*/
    /*color: white;*/
/*}*/
.navbar{
    height:60px;
    background-color: white;
}
.navbar a{
    color: rgb(163,38,56);
    background-color: white;
}

.navbar ul li a:hover{
    color:white;
    background-color: rgb(163,38,56);
}

.navbar a:hover{
    color:rgb(163,38,56);
}

.navbar-left {
    margin-right: 1em;
}
.icon-bar{
    background-color: rgb(163,38,56);
    color: white;
}
