header{
    margin-bottom: 5em;
}

#select_btns{
    margin-bottom: 1em;
    text-align: center;
}

#heatmap{
    text-align: center;
}

#chart{
    margin-bottom: 1em;
    max-width: 100%;
    width: 100%
}

#reports{
    margin-bottom: 1em;
}

.map-canvas{
    display: none;
}

.heatmapContainer {
    width:100%; height:100%;}

.min{
    float:left;
}

.max{
    float:right;
}

.heatmapLegend {
    width:15em; background:white; position:absolute; bottom:0; right:0; padding:10px; }

.canvas{
    width:100%;
}