{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Campus Reports</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Mobile nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Smart Campus</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home Page</a></li>
                        <li><a href="/select_location">Select a location</a></li>
                        <li class="active"><a href="/campus_report">Campus Reports</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row" style="text-align: center">
            <div class="col-md-6">
                <h1>Daily</h1>
                <div id="reports">
                    2018-07-28
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        <a href="/campus_report/report_2018_07_28" type="button" class="btn btn-default">View</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Share
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php?u=http://OurWebsite/campus_report/report_2018_07_28&amp;src=sp" style="text-decoration: none; ">Facebook</a></li>
                                <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
                                <li><a href="http://twitter.com/share?text=Check this compus report! &url=http://OurWebsite/campus_report/report_2018_07_28&hashtags=Stevens,campus report">Twitter</a></li>
                            </ul>
                      </div>
{#                        <a name="fb_share" class="btn btn-default" type="button_count" share_url="http://www.sharedomain.com/path/" href="http://www.facebook.com/sharer.php?u=/campus_report/report_2018_07_28&amp;src=sp" style="text-decoration: none; ">Share</a>#}
{#                        <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>#}
                    </div>
                </div>
                <div id="reports">
                    Not Available
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        <a type="button" class="btn btn-default">View</a>
                        <a type="button" class="btn btn-default">Share</a>
                    </div>
                </div>
                <div id="reports">
                    Not Available
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        <a type="button" class="btn btn-default">View</a>
                        <a type="button" class="btn btn-default">Share</a>
                    </div>
                </div>
                <div id="reports">
                    Not Available
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        <a type="button" class="btn btn-default">View</a>
                        <a type="button" class="btn btn-default">Share</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Monthly</h1>
                <div id="reports">
                    Not Available
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        <a type="button" class="btn btn-default">View</a>
                        <a type="button" class="btn btn-default">Share</a>
                    </div>
                </div>
                <div id="reports">
                    Not Available
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="btn-group">
                        <a type="button" class="btn btn-default">View</a>
                        <a type="button" class="btn btn-default">Share</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>