{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.js"></script>
    <title>Report 2018-07-28</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Mobile nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Smart Campus</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home Page</a></li>
                        <li><a href="/select_location">Select a location</a></li>
                        <li class="active"><a href="/campus_report">Campus Reports</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h1 style="text-align: center; margin-bottom: 1em">Report 2018-07-28</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="temp_chart" style="height: 400px;width: 100%"></div>
                <script type="text/javascript">
                            var dom = document.getElementById("temp_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Temperature in a day',
                                    subtext: 'in °F'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: {{ times|safe }}   // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 55.50,  // This is the min value of Y-axis
                                    max: 56.04,  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'°F',
                                        type:'line',
                                        data: {{ temps|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
                <div id="hum_chart" style="height: 400px;width: 100%"></div>
                <script type="text/javascript">
                            var dom = document.getElementById("hum_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Humidity in a day',
                                    subtext: 'in %'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: {{ times|safe }}   // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 69.38,  // This is the min value of Y-axis
                                    max: 74.54  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'%',
                                        type:'line',
                                        data: {{ hums|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
            </div>
            <div class="col-md-6">
                <div id="pres_chart" style="height: 400px;width: 100%"></div>
                <script type="text/javascript">
                            var dom = document.getElementById("pres_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Pressure in a day',
                                    subtext: 'in hPa'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: {{ times|safe }}   // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 1013.82,  // This is the min value of Y-axis
                                    max: 1016.73,  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'hPa',
                                        type:'line',
                                        data: {{ press|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
                <div id="gas_chart" style="height: 400px;width: 100%"></div>
                <script type="text/javascript">
                            var dom = document.getElementById("gas_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Air Quality in a day',
                                    subtext: 'scroe 1 to 10, 1 is the best'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: {{ times|safe }}  // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 1,  // This is the min value of Y-axis
                                    max: 10  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'score',
                                        type:'line',
                                        data: {{ gass|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
            </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped table-bordered">
            <caption>Altorfer</caption>
            <tr>
                <th>Time</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>Air Quality</th>
            </tr>
            <tr>
                <th>{{ times.0 }}</th>
                <th>{{ temps.0 }}</th>
                <th>{{ hums.0 }}</th>
                <th>{{ press.0 }}</th>
                <th>{{ gass.0 }}</th>
            </tr>
            <tr>
                <th>{{ times.1 }}</th>
                <th>{{ temps.1 }}</th>
                <th>{{ hums.1 }}</th>
                <th>{{ press.1 }}</th>
                <th>{{ gass.1 }}</th>
            </tr>
            <tr>
                <th>{{ times.2 }}</th>
                <th>{{ temps.2 }}</th>
                <th>{{ hums.2 }}</th>
                <th>{{ press.2 }}</th>
                <th>{{ gass.2 }}</th>
            </tr>
            <tr>
                <th>{{ times.3 }}</th>
                <th>{{ temps.3 }}</th>
                <th>{{ hums.3 }}</th>
                <th>{{ press.3 }}</th>
                <th>{{ gass.3 }}</th>
            </tr>
            <tr>
                <th>{{ times.4 }}</th>
                <th>{{ temps.4 }}</th>
                <th>{{ hums.4 }}</th>
                <th>{{ press.4 }}</th>
                <th>{{ gass.4 }}</th>
            </tr>
            <tr>
                <th>{{ times.5 }}</th>
                <th>{{ temps.5 }}</th>
                <th>{{ hums.5 }}</th>
                <th>{{ press.5 }}</th>
                <th>{{ gass.5 }}</th>
            </tr>
            <tr>
                <th>{{ times.6 }}</th>
                <th>{{ temps.6 }}</th>
                <th>{{ hums.6 }}</th>
                <th>{{ press.6 }}</th>
                <th>{{ gass.6 }}</th>
            </tr>
            <tr>
                <th>{{ times.7 }}</th>
                <th>{{ temps.7 }}</th>
                <th>{{ hums.7 }}</th>
                <th>{{ press.7 }}</th>
                <th>{{ gass.7 }}</th>
            </tr>
            <tr>
                <th>{{ times.8 }}</th>
                <th>{{ temps.8 }}</th>
                <th>{{ hums.8 }}</th>
                <th>{{ press.8 }}</th>
                <th>{{ gass.8 }}</th>
            </tr>
            <tr>
                <th>{{ times.9 }}</th>
                <th>{{ temps.9 }}</th>
                <th>{{ hums.9 }}</th>
                <th>{{ press.9 }}</th>
                <th>{{ gass.9 }}</th>
            </tr>
            <tr>
                <th>{{ times.10 }}</th>
                <th>{{ temps.10 }}</th>
                <th>{{ hums.10 }}</th>
                <th>{{ press.10 }}</th>
                <th>{{ gass.10 }}</th>
            </tr>
            <tr>
                <th>{{ times.11 }}</th>
                <th>{{ temps.11 }}</th>
                <th>{{ hums.11 }}</th>
                <th>{{ press.11 }}</th>
                <th>{{ gass.11 }}</th>
            </tr>
            <tr>
                <th>{{ times.12 }}</th>
                <th>{{ temps.12 }}</th>
                <th>{{ hums.12 }}</th>
                <th>{{ press.12 }}</th>
                <th>{{ gass.12 }}</th>
            </tr>
            <tr>
                <th>{{ times.13 }}</th>
                <th>{{ temps.13 }}</th>
                <th>{{ hums.13 }}</th>
                <th>{{ press.13 }}</th>
                <th>{{ gass.13 }}</th>
            </tr>
            <tr>
                <th>{{ times.14 }}</th>
                <th>{{ temps.14 }}</th>
                <th>{{ hums.14 }}</th>
                <th>{{ press.14 }}</th>
                <th>{{ gass.14 }}</th>
            </tr>
            <tr>
                <th>{{ times.15 }}</th>
                <th>{{ temps.15 }}</th>
                <th>{{ hums.15 }}</th>
                <th>{{ press.15 }}</th>
                <th>{{ gass.15 }}</th>
            </tr>
            <tr>
                <th>{{ times.16 }}</th>
                <th>{{ temps.16 }}</th>
                <th>{{ hums.16 }}</th>
                <th>{{ press.16 }}</th>
                <th>{{ gass.16 }}</th>
            </tr>
            <tr>
                <th>{{ times.17 }}</th>
                <th>{{ temps.17 }}</th>
                <th>{{ hums.17 }}</th>
                <th>{{ press.17 }}</th>
                <th>{{ gass.17 }}</th>
            </tr>
            <tr>
                <th>{{ times.18 }}</th>
                <th>{{ temps.18 }}</th>
                <th>{{ hums.18 }}</th>
                <th>{{ press.18 }}</th>
                <th>{{ gass.18 }}</th>
            </tr>
            <tr>
                <th>{{ times.19 }}</th>
                <th>{{ temps.19 }}</th>
                <th>{{ hums.19 }}</th>
                <th>{{ press.19 }}</th>
                <th>{{ gass.19 }}</th>
            </tr>
            <tr>
                <th>{{ times.20 }}</th>
                <th>{{ temps.20 }}</th>
                <th>{{ hums.20 }}</th>
                <th>{{ press.20 }}</th>
                <th>{{ gass.20 }}</th>
            </tr>
            <tr>
                <th>{{ times.21 }}</th>
                <th>{{ temps.21 }}</th>
                <th>{{ hums.21 }}</th>
                <th>{{ press.21 }}</th>
                <th>{{ gass.21 }}</th>
            </tr>
            <tr>
                <th>{{ times.22 }}</th>
                <th>{{ temps.22 }}</th>
                <th>{{ hums.22 }}</th>
                <th>{{ press.22 }}</th>
                <th>{{ gass.22 }}</th>
            </tr>
            <tr>
                <th>{{ times.23 }}</th>
                <th>{{ temps.23 }}</th>
                <th>{{ hums.23 }}</th>
                <th>{{ press.23 }}</th>
                <th>{{ gass.23 }}</th>
            </tr>
            <tr>
                <th>Averange</th>
                {% for item in average %}
                <th>{{ item }}</th>
                {% endfor %}
            </tr>
        </table>
    </div>

</body>
</html>