{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.js"></script>
    <title>Select a Location</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Mobile nav</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class = "navbar-left" href="#"><img src="{% static 'images/logo.png' %}"></a>
                    <a class="navbar-brand" href="#">Smart Campus</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home Page</a></li>
                        <li class="active" ><a href="/select_location">Select a location</a></li>
                        <li><a href="/campus_report">Campus Reports</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div id="location_info" class="col-md-3">
                <div id="select_btns">
                    <div  class="btn-group-sm">
                        <button type="button" class="btn btn-default">Altorfer</button>
                        <button type="button" class="btn btn-default">Howe center</button>
                        <button type="button" class="btn btn-default">Babbio center</button>
                    </div>
                </div>
                <div id="data_table">
                    <table class="table table-striped table-bordered">
                        <caption>Altorfer</caption>
                        <tr>
                            {% for post in posts %}
                            <th>Temperature</th>
                            <th id="temp_value">{{ post.temp }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for post in posts %}
                            <th>Humidity</th>
                            <th id="humi_value">{{ post.hum }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for post in posts %}
                            <th>Pressure</th>
                            <th id="pres_value">{{ post.pres }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for post in posts %}
                            <th>Air quality</th>
                            <th id="gas_calue">{{ post.gas }}</th>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
            <div id="location_charts" class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div id="temp_chart" style="height: 300px;width: 100%"></div>
                        <script type="text/javascript">
                            var dom = document.getElementById("temp_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Temperature in an hour',
                                    subtext: 'in °F'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['4:00','4:10','4:20','4:30','4:40','4:50']  // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 55.65,  // This is the min value of Y-axis
                                    max: 55.75,  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'°F',
                                        type:'line',
                                        data: {{ temps|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
                        <div id="hum_chart" style="height: 300px;width: 100%"></div>
                        <script type="text/javascript">
                            var dom = document.getElementById("hum_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Humidity in an hour',
                                    subtext: 'in %'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['4:00','4:10','4:20','4:30','4:40','4:50']  // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 72,  // This is the min value of Y-axis
                                    max: 73,  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'%',
                                        type:'line',
                                        data: {{ hums|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
                    </div>
                    <div class="col-md-6">
                        <div id="pres_chart" style="height: 300px;width: 100%"></div>
                        <script type="text/javascript">
                            var dom = document.getElementById("pres_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Pressure in an hour',
                                    subtext: 'in hPA'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['4:00','4:10','4:20','4:30','4:40','4:50']  // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 1010,  // This is the min value of Y-axis
                                    max: 1011,  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'hPA',
                                        type:'line',
                                        data: {{ press|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
                        <div id="gas_chart" style="height: 300px;width: 100%"></div>
                        <script type="text/javascript">
                            var dom = document.getElementById("gas_chart");
                            var myChart = echarts.init(dom);
                            myChart.setOption({
                                title: {
                                    text: 'Air Quality in an hour',
                                    subtext: 'in million'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                xAxis:  {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: ['4:00','4:10','4:20','4:30','4:40','4:50']  // This is the tag of X-axis
                                },
                                yAxis: {
                                    type: 'value',
                                    min: 12.9,  // This is the min value of Y-axis
                                    max: 13,  // This is the max value of Y-axis
                                },
                                series: [
                                    {
                                        name:'%',
                                        type:'line',
                                        data: {{ gass|safe }},  // This is the value of X-axis
                                        markPoint: {
                                            data: [
                                                {type: 'max', name: 'Max'},
                                                {type: 'min', name: 'Min'}
                                            ]
                                        },
                                        markLine: {
                                            data: [
                                                {type: 'average', name: 'average'}
                                            ]
                                        }
                                    },
                                ]
                            });
                            window.onresize = myChart.resize;
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>